  <!-- Put the footer here -->

  <script type="text/javascript" src="{{ "/js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/d3.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/chroma.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/chroma.palette-gen.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/textures.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/cubism.v1.min.js" | prepend: site.baseurl }}"></script>

  <script type="text/javascript">
    var software = "{{ page.software }}"
    var json = {{ site.data[page.software] | jsonify }}
  </script>

  <script type="text/javascript" src="{{ "/js/sunburst-chart.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/streamgraph-chart.js" | prepend: site.baseurl }}"></script>
