    {% assign title = page.title | downcase %}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">codEnergy</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li {% if title == 'charts' %} class="active"{% endif %}><a href="{{ site.baseurl | append: '/' }}charts">Charts</a></li>
          </ul>
        </div>
      </div>
    </nav>
