<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

{% include header.html %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="chart" class="col-md-7"></div>
        <div id="info" class="col-md-4">
          <h3 class="text-center">Software Energy Distribution by Function</h3>
          <div class="form-horizontal" style="padding-top: 15px;">
            <div id="software" class="form-group">
              <label class="col-sm-3" style="padding-top: 10px;">Software</label>
              <div class="col-sm-9">
                <select class="form-control" onchange="if (this.value) window.location.href=this.value">
                  {% for entry in site.data %}
                  <option {% if entry[0] == page.software %} selected {% endif %} value="/{{ site.charts_dir | append: '/' | append: entry[0] | prepend: site.baseurl }}">{{ entry[0] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div id="context" class="form-group">
              <label class="col-sm-3">Context</label>
              <div class="col-sm-9">
                <span>main</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% include footer-ext.html %}

  </body>

</html>
