<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

{% include header.html %}

    <div class="container-fluid">
      <div class="row-fluid">
        
        <div id="info" class="col-md-4 col-md-offset-1">
          <h3>Software Energy Distribution by Function</h3>
          
          <hr>
          <hr>

          <div class="form-horizontal">  
            <div id="software" class="form-group">
              <label class="col-sm-3" style="padding-top: 10px;">Software</label>
              <div class="col-sm-9">
                <select class="form-control" onchange="if (this.value) window.location.href=this.value">
                  {% for entry in site.data %}
                  <option {% if entry[0] == page.software %} selected {% endif %} value="{{ site.baseurl | append: '/' | append: site.charts_dir | append: '/' | append: entry[0] }}">{{ entry[0] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            
            <div id="context" class="form-group" style="padding: 0;">
              <label class="col-sm-3">Context</label>
              <div class="col-sm-9">
                <textarea style="height: 100px ; width: 100% ; resize: none ; word-wrap: break-word;">{{ page.software }}</textarea>
                <input name="context-js" type="hidden" value="main">
              </div>
            </div>
          </div>

          <hr>

          <div class="form-horizontal">
            <div id="layout" class="form-group" style="padding: 0;">
              <label class="col-sm-3">Layout</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option value="silhouette" selected>Silhouette</option>
                  <option value="wiggle">Wiggle</option>
                  <option value="expand">Expand</option>
                  <option value="zero">Zero</option>
                </select>
              </div>
            </div>
            <div id="method" class="form-group" style="padding: 0;">
              <label class="col-sm-3">Method</label>
              <div class="col-sm-9">
                <span>/</span>
              </div>
            </div>
            <div id="power" class="form-group" style="padding: 0;">
              <label class="col-sm-3">Power</label>
              <div class="col-sm-9">
                <span>/</span>
              </div>
            </div>
          </div>

        </div>

        <div id="sunburst" class="col-md-6"></div>

        <div id="streamgraph" class="col-md-12" style="margin-top: 15px;">
          <div id="streamgraph-body" style="overflow: scroll;"></div>
        </div>

      </div>
    </div>

{% include footer-ext.html %}

  </body>

</html>
